.menu {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  display: flex;
  background: #ffffff;
  justify-content: center;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;

  .logo {
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    position: relative;
    font-weight: bold;
    font-size: 22px;

    &::before {
      position: absolute;
      content: '';
      width: 50%;
      border-bottom: 2px solid #000;
      top: 10px;
    }

    &::after {
      content: '';
      width: 50%;
      border-bottom: 2px solid #000;
      position: absolute;
      bottom: 10px;
    }
  }



  nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    min-width: 732px;
    position: relative;

    a {
      color: #000;
      font-weight: bold;
    }

    .menu_item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 30px;

      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }

    .active_bar {
      width: 122px;
      border-bottom: 2px solid #409eff;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: all 0.3s;
    }

    .active {
      color: #409eff;
    }
  }
}
