.page {
  width: 65%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding: 120px 20px 0 20px;
  box-sizing: border-box;

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    margin: 0 20px;
  }

}


@media (max-width: 1300px) {
  .page {
    width: 85%;
  }
}

@media (max-width: 950px) {
  .page {
    width: 100%;
  }

}
