.send {
  width: 100%;
  display: flex;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  textarea {
    flex: 1;
    height: 100px;
    padding: 10px 10px 30px 10px;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
  }

  .btn {
    position: absolute;
    width: 70px;
    padding: 5px;
    bottom: 5px;
    right: 10px;
    color: #ffffff;
    border-radius: 5px;
    background: #409eff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .cont {
    position: absolute;
    bottom: 5px;
    left: 10px;
  }
}