
.home {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #171d25;

  .logo {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    top: 24px;
    left: 24px;
    position: absolute;
    transition: all 0.3s;
    z-index: 999;
  }

  .title {
    color: #556374;
    white-space: normal;
    //text-transform: uppercase;
    letter-spacing: 0.6em;
    font-size: 16px;
    position: absolute;
    top: 32px;
    left: 100px;
    z-index: 999;
  }


    ul {
      position: absolute;
      width: 250px;
      top: 50%;
      left: 45%;
      margin-top: -250px;
      margin-left: -360px;
      overflow: hidden;

      .cursor {
        display: inline-block;
        position: absolute;
        width: 6px;
        height: 80px;
        background: #00aeef;
        top: 20px;
        left: 0;
        transition: all 0.3s;
      }

      li {
        width: auto;
        height: 80px;
        //background: gold;
        box-sizing: border-box;
        padding-left: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 20px 0;
        strong {
          display: inline-block;
          font: 24px/32px "D","Lucida Grande",verdana,sans-serif;
          color: #fff;
        }

        small {
          display: block;
          font: 14px/20px "D","Lucida Grande",verdana,sans-serif;
          color: rgba(152,175,197,0.7);
        }
      }
    }

    .desktop {
      position: absolute;
      top: 50%;
      margin-top: -200px;
      margin-right: -220px;
      right: 33%;
      width: 400px;
      height: 400px;
      margin-left: 0;
    }

    .stationary {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        width: 280px;
        height: 280px;
        position: absolute;
        border-radius: 50%;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        display: flex;
        opacity: 0;
        transition: all 1.5s;
        color: white;
        font-size: 30px;
      }
    }

    .spinner {
      .rings {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: all 800ms ease;
        transform: scale(1) rotateZ(0);
        opacity: 1;
      }

      .ring {
        display: block;
        position: absolute;
        height: 470px;
        width: 470px;
        margin: -235px 0 0 -235px;
        top: 50%;
        left: 50%;
        pointer-events: none;
        background: url('../../assets/spinner/1.png') no-repeat center center;
        background-size: 470px 470px;
        animation-name: spin;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-delay: 700ms;
      }

      .zero {
        margin: -175px 0 0 -175px;
        height: 350px;
        width: 350px;
        animation-duration: 70s;
        background-image: url('../../assets/spinner/0.png');
      }

      .one {
        animation-duration: 70s;
        animation-direction: reverse;
      }

      .two {
        animation-duration: 190s;
        background-image: url('../../assets/spinner/2.png');
      }

      .three {
        display: none;
        animation-duration: 80s;
        animation-direction: reverse;
        background-image: url('../../assets/spinner/3.png');
      }

      .four {
        display: none;
        animation-duration: 20s;
        animation-direction: reverse;

      }

      .blog-preview, .example-preview,  .message-preview, .music-preview, .about-preview{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .2s 0.2s;
        background: #2a3340;
        border: 10px solid #171d25;

        div {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          color: #677a95;
          font: 500 12px/16px "D","Lucida Grande",verdana,sans-serif;
        }

        div:hover {
          color: #00aeef;
        }


        .active {
          display: none;
          background: red;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          border-radius: 50%;
          transform: scale(1.3);
          justify-content: center;
          align-content: center;

          .piece, .tags, .about {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #00aeef;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 10px solid #171d25;

            span {
              color: black;
              font-size: 23px;
            }

            span:nth-child(2) {
              color: #fff;
              font-size: 12px;
            }
          }

          .tags {
            width: 45px;
            height: 45px;
            left: 100%;
            border: 5px solid #171d25;

            span {
              font-size: 15px;
            }
          }

          .about {
            span {
              font-size: 12px;
            }
          }
        }

        .active:hover {
          transform: scale(1.5);
        }
      }

      .blog-preview {
        top: -55px;
        left: 50%;
        margin-left: -50px;
      }

      .example-preview {
        left: 349px;
        top: 90px;
      }

      .message-preview {
        top: 310px;
        left: 270px;
      }

      .music-preview {
        top: 310px;
        left: 30px;
      }

      .about-preview {
        left: -50px;
        top: 90px;
      }
    }

    .spinning {
      transition: all 200ms ease-in-out 200ms;
    }

   .active {
     display: none;
   }
}

.mobile {
  .logo {
    top: 8px;
    left: 8px;
  }
  .content {
    width: 100%;
  }
}

.preview-blog {
  .spinning {
    transform: rotateZ(0) translateZ(0);
  }

  .blog-preview {
    .active {
      display: flex !important;
    }
  }

  .stationary {
    li:nth-child(1) {
      opacity: 1;
    }
  }
}

.preview-example {
  .spinning {
    transform: rotateZ(-72deg) translateZ(0);
  }

  .blog-preview, .example-preview, .message-preview, .music-preview, .about-preview {
    transform: rotate(72deg);
  }

  .example-preview {
    .active {
      display: flex !important;
    }
  }

  .stationary {
    li:nth-child(2) {
      opacity: 1;
    }
  }
}

.preview-message {
  .spinning {
    transform: rotateZ(-144deg) translateZ(0);
  }

  .blog-preview, .example-preview, .message-preview, .music-preview, .about-preview {
    transform: rotate(144deg);
  }

  .message-preview {
    .active {
      display: flex !important;
    }
  }

  .stationary {
    li:nth-child(3) {
      opacity: 1;
    }
  }
}

.preview-music {
  .spinning {
    transform: rotateZ(-216deg) translateZ(0);
  }

  .blog-preview, .example-preview, .message-preview, .music-preview, .about-preview {
    transform: rotate(216deg);
  }

  .music-preview {
    .active {
      display: flex !important;
    }
  }

  .stationary {
    li:nth-child(4) {
      opacity: 1;
    }
  }
}

.preview-about {
  .spinning {
    transform: rotateZ(-288deg) translateZ(0);
  }

  .blog-preview, .example-preview, .message-preview, .music-preview, .about-preview {
    transform: rotate(288deg);
  }

  .about-preview {
    .active {
      display: flex !important;
    }
  }

  .stationary {
    li:nth-child(5) {
      opacity: 1;
    }
  }
}


@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
