.layout {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;

  .content {
    width: 0;
    height: 0;
    opacity: 0;
    left: 50%;
    padding: 10px 30px 10px 10px;
    bottom: 250px;
    font-size: 12px;
    position: absolute;
    background: #010101;
    border-radius: 10px;
    border: 2px solid #74256d;
    transform: translateX(-50%);
    box-shadow: 0 0 20px #ad36a6;

    .close {
      color: #aa36a3;
      float: right;
      margin-top: 20px;
      padding: 10px 0;
      transition: all 0.2s;

      &:hover {
        color: #fff;
        transform: translateX(-10px);
      }
    }
  }
}


.view-active-show {
  animation: showView 1s forwards;
}

.view-active-hide {
  animation: hideView 1s forwards;
}

@keyframes showView {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    bottom: 500px;
    padding: 0;
  }
  50% {
    width: 800px;
    height: 0;
    opacity: 0.5;
    bottom: 500px;
    padding: 0;
  }
  100% {
    width: 800px;
    height: 500px;
    opacity: 1;
    bottom: 250px;
    padding: 10px 30px 10px 10px;
  }
}

@keyframes hideView {
  0% {
    width: 800px;
    height: 500px;
    opacity: 1;
    bottom: 250px;
    padding: 10px 30px 10px 10px;
  }
  50% {
    width: 800px;
    height: 0;
    opacity: 0.5;
    bottom: 500px;
    padding: 0;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    bottom: 500px;
    padding: 0;
  }
}