.list {
  width: 300px;
  height: 0;
  position: absolute;
  right: 40px;
  bottom: 0;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  transition: all 0.2s;
  overflow: hidden;

  .title {
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
  }

  .del {
    width: 20px;
    height: 20px;
    background: red;
    position: absolute;
    top: 20px;
    right: 10px;
    background: url('../../../assets/cloudmusic/del.svg');
    background-size: cover;
  }

  ul {
    width: 100%;
    position: absolute;
    bottom: 71px;
    top: 60px;
    overflow-y: auto;

    li {
      width: 100%;
      background: #ffffff;
      margin-bottom: 1px;
      height: 70px;
      padding: 10px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;

      .describe {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .auth {
          margin-top: 10px;
        }
      }

      .time {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      .operation {
        display: none;
        align-items: center;
        position: relative;

        span {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }

        .delete {
          background: url('../../../assets/cloudmusic/del.svg');
          background-size: cover;
        }
      }

     &:hover {
       background: rgba(223, 222, 230, 0.42);

       .time {
         display: none;
       }

       .operation {
         display: flex;
       }
     }
    }



  }
  ul::-webkit-scrollbar{
    width: 5px;
  }

  ul::-webkit-scrollbar-track{
    background: rgb(239, 239, 239);
    border-radius: 2px;
  }

  ul::-webkit-scrollbar-thumb{
    background: #bfbfbf;
    border-radius: 10px;
  }

  ul::-webkit-scrollbar-thumb:hover{
    background: #333;
  }

  ul::-webkit-scrollbar-corner{
    background:#179a16;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #ffffff;
    border-top: 1px solid #d5d5d5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;


    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('../../../assets/cloudmusic/menu.svg');
      background-size: cover;
    }
  }
}