.header {
  // width: 204px;

  .home {
    display: flex;
    align-items: center;
    line-height: 32px;
    padding: 20px 0 10px 20px;
    border: none;
    
    img {
      width: 32px;
      height: 32px;
    }
  
    span {
      margin-left: 10px;
      color: #707070;
    }
  }

  .title {
    display: flex;
    width: 100%;
    text-align: center;
    padding-left: 60px;
    color: #00aeef;
    font-size: 20px;
  }
}

@media screen and (max-width: 701px) {
  .header {
    width: 100%;
    display: flex;
    position: relative;

    .home {
      // width: 204px;
      position: relative;
      z-index: 99;
      padding: 10px;
    }

    .title {
      line-height: 52px;
      position: absolute;
      padding: 0;
      display: flex;
      justify-content: center;
      color: #ffffff;
    }
  }
}
