.page {
  width: 65%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding: 120px 20px 0 20px;
  box-sizing: border-box;
  flex-direction: column;

  .header {
    width: 100%;
    border-bottom: 1px solid #dadada;
    display: flex;
    align-items: center;

    .nav {
      display: flex;
      margin-left: 20px;

      li {
        font-weight: bold;
        margin-right: 4px;

        &::before{
          content:"/";
          padding-right: 4px;
        }
      }
    }
  }

  .body {
    margin-top: 20px;
  }
}