.wall {
  perspective: 1200px; /* 透视视图 */
  width:100%;
  position: absolute;
  display: flex;
  height: 60%;

  .rotate-box {
    position:relative;
    transform-style: preserve-3d; /* 3D 转换 */
    margin: 30px;
    width: 300px;
    height: 100%;
    transform: rotateY(40deg);
    border-radius: 10px;
    border: 1px solid rgba(59, 235, 235, 0.7);
    box-shadow: 0 1px 30px #0093df, 0 1px 20px #0093df inset;
    //background: rgba(59, 235, 235, 0.7);
    background: rgba(0, 147, 223, 0.53);

  }

  .center-rotate {
    flex: 1;
    width: 300px;
    margin: 30px;
  }
}
