.slider {
  width: 204px;
  position: relative;
  top: 0;
  bottom: 0;
  background: rgb(18, 22, 28);
}




@media screen and (max-width: 701px) {
  .slider {
    bottom: auto;
    height: 52px;
    width: 100%;
    background: none;
  }

}